<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>
    </head>
    <body>
        <nav>
            <svg class="nav-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 90" class="iconLeft">
                <g id="35437543-fbe1-42f3-83c6-c09014d89e81" transform="matrix(2.8125,0,0,2.8125,0,0)" stroke="none" fill="black">
                    <path d="M16 32c8.837 0 16-7.163 16-16S24.837 0 16 0 0 7.163 0 16s7.163 16 16 16zM14.817 6.421h2v8.886h8.887v2H14.817V6.421zm-5.959.437h2v14.283h14.283v2H8.858V6.858z"></path>
                </g>
            </svg>

            <div class="nav-links">
                <a class="nav-link" href="#">Login</a>
                <a class="nav-link" href="#">Sign Up</a>
            </div>
        </nav>
